.passModal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    animation: fadeInBackground 0.3s ease-out forwards;
}

@keyframes fadeInBackground {
    to {
        display: block;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.passModal-content {
    position: relative;
    background-color: #fefefe;
    margin: 20% auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: smoothStretch 0.3s ease-out forwards;
    padding-bottom: 20px;

    width: 30%;
    min-width: 442px;
    max-width: 442px;

    min-height: 195px;
    max-height: 222px;
}

@keyframes smoothStretch {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.icon-container {
    position: absolute;
    top: 47%;
    left: 2px;
    transform: translateY(-47%);
}

.pass-icon {
    width: 25.6px;
    height: 23.2px;
}

.form-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
 }

#passModal-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    align-self: flex-start;
    margin-left: 50px;
}

.error-message {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 5px;
    align-self: flex-start;
    margin-left: 50px;
}

.buttonsModal {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}

.change-pass, .backModal-pass {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.7s;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
    font-family: 'Comfortaa', sans-serif;
}

.change-pass {
    background: linear-gradient(135deg, #b9a1e2, #a0bef5);
    color: white;
}

.change-pass:hover {
    background: linear-gradient(135deg, #a68fd0, #8daee5);
}

#password, #confirmPassword {
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 200;
    width: calc(100% - 70px);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
}

#confirmPassword {
    margin-top: 10px;
}

.forgot-password a {
    font-size: 15px;
    color: #6A9ACD;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}