body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url('../images/expert_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.container {
    position: absolute;
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;

    min-width: 413px;
    max-width: 413px;

    min-height: 410px;
    max-height: 430px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#logo {
    width: 40px;
    height: 31px;
    margin-right: 10px;
}

.logo-container h1 {
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 40px;
    height: 31px;
    margin-right: 10px;
}

.logo-container h1 {
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 7px;
}

.reg-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.reg-box input::placeholder {
    font-family: 'Comfortaa', sans-serif;
}

#userEmail, #userPassword, #username, #userPassword1 {
    padding: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 22vw;
    height: 18px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid;
    font-family: 'Comfortaa', sans-serif;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    max-width: 324px;
    min-width: 324px;
}

.files {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    gap: 10px;
    position: relative;
    height: 55px;
}

.popup {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    width: 300px;
    position: absolute;
    top: 50%; 
    left: -120%; 
    transform: translateY(-50%); 
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.7);
}

.files:hover .popup {
    opacity: 1;
    visibility: visible;
}

label, input, .popup, #file-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 13px;
}

#file {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
}

.file-upload-button {
    padding: 6px 15px;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Comfortaa', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.file-upload-button:hover {
    background-color: #e6e6e6;
    color: #555;
}

.button-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#back {
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: transform 0.7s;
}

#back, #registration {
    font-family: 'Comfortaa', sans-serif;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#registration {
    transition: background 0.7s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #b9a1e2, #a0bef5);
    color: white;
    transition: transform 0.7s, background-color 0.7s;
}

#registration:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #a68fd0, #8daee5);
}

#back:hover {
    transform: scale(1.05);
}