.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #c0c8e0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
}

#user_logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#user_logo, .username {
    vertical-align: middle;
}

.logo-container {
    margin-right: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container {
    margin-left: auto;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.custom-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.custom-button:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    position: absolute;
    right: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1002;
    top: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    flex-direction: column; 
    align-items: center;
    opacity: 1;
    visibility: visible;
}

.dropdown-content a, #logout {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    color: black;
    transition: color 0.6s ease;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}

.dropdown-content a::before, #logout::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 0.8px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    background-color: #333;
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
}

.dropdown-content a:hover::before, #logout:hover::before {
    visibility: visible;
    transform: translateX(-50%) scaleX(1);
}

.dropdown-logout, .dropdown-profile {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: bottom;
}

#logo {
    width: 40px;
    height: 31px;
    margin-right: 10px;
}

.username {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 2px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}