body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/profile_bg.png');
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.profile-image-block {
    position: absolute;
    top: 20vh;
    left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 6px 10px rgba(100, 100, 100, 0.2);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);

    min-width: 350px;
    max-width: 350px;

    min-height: 510px;
    max-height: 510px;
}

.profile-image {
    width: 175px;
    height: 175px;
    margin-top: -5px;
    border-radius: 10px;
}

.thumbnail-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: -5px;
}

hr {
    width: 330px;
    height: 1px;
    opacity: 0.5;
}

.info-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: -13px;
    opacity: 0.8;
}

#fileInput {
    display: none;
}

.photo-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.upload-button, .delete-button {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.7s;
    font-family: 'Comfortaa', sans-serif;
}

.upload-button {
    background: linear-gradient(135deg, #b9a1e2, #a0bef5);
    color: white;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
}

.delete-button {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
}

.upload-button:hover {
    background: linear-gradient(135deg, #a68fd0, #8daee5);
}

.delete-button:hover {
    background-color: #e6e6e6;
    color: #555;
}

.account-settings {
    position: absolute;
    top: 15vh;
    left: 55vw;
    gap: 20px;
    min-width: 490px;
    max-width: 490px;

    min-height: 638px;
    max-height: 638px;
}

.msg {
    color: green;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    max-width: 200px;
    min-width: 200px;
}

.acc-status {
    display: flex;
    flex-direction: row;
    width: 30.53vw;
    gap: 10px;
}

.confirmed, .not-confirmed, .status  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.confirmed {
    color: green;
}

.not-confirmed {
    color: red;
}

.acc-info, .login-options, .acc-actions {
    box-shadow: 0 6px 10px rgba(100, 100, 100, 0.2);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);

    min-width: 450px;
    max-width: 450px;

    min-height: 200px;
    max-height: 200px;
}

.acc-actions {
    min-height: 125px;
    max-height: 125px;
    background-color: rgba(255, 255, 255, 0.9);
}

h3 {
    font-size: 18px;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.name-container, .email-container, .pass-container, .twoFA-container, .act-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 97%; 
    margin: 0 auto;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    border-radius: 10px;
}    

.name-container:hover, .email-container:hover, .pass-container:hover, .twoFA-container:hover, .act-container:hover {
    background-color: #cceeff;
}

.name-container, .pass-container, .act-container {
    margin-top: -15px;
}

.email-container, .twoFA-container {
    margin-top: 15px;
}

.user-icon, .mail-icon, .pass-icon, .auth-icon {
    width: 32px;
    height: 29px; 
    margin-right: 10px; 
    margin-left: 13px;
}

.delete-icon {
    width: 42px;
    height: 40px; 
}

.name-text, .mail-text, .pass-text, .auth-text, .delete-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-top: 7px;
    margin-bottom: 7px;
}

.name_label, .name_value, .mail_label, .mail_value, .pass_label, .pass_value, .auth_label, .auth_value, .delete_label, .delete_value {
    margin: 2px 0;
    font-family: 'Montserrat', sans-serif;
}

.name_value, .mail_value, .pass_value, .auth_value, .delete_value {
    font-size: 14px;
    color: gray;
}

.arrow {
    margin-left: auto;
    margin-right: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.highlighted {
  background-color: #cceeff;
  transition: background-color 0.3s ease-out;
}
