body, html {
    margin: 0;
    padding: 0;
    height: 90%;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fadeIn 1s ease-in-out;
    overflow-y: auto;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    opacity: 0.8;
    line-height: 1.5;
}

.container {
    position: absolute;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 2.713vw;
    width: 94.574vw;
    height: 80vh;
    min-width: 1394px;
    min-height: 600px;
}

.container > div {
    flex: 1;
    height: 72vh;
    margin: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: transform 0.7s, background-color 0.7s;
    box-shadow: 0 6px 10px rgba(100, 100, 100, 0.2);
    min-height: 540px;
}

.user:hover, .psychologist:hover, .researcher:hover {
    transform: scale(1.02);
    background-color: rgba(230, 230, 250, 0.5);
}

.user, .psychologist, .researcher {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    padding: 25px;
    align-items: center;
}

.header1, .header2, .header3 {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#user-logo, #psychologist-logo, #researcher-logo {
    width: 58%;
    height: 42%;
    margin-top: -10px;
}

.user_desc, .researcher_desc, .psychologist_desc {
    width: 100%;
    white-space: normal;
    margin-left: 10px;
    line-height: 1.6;
    font-weight: normal;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#sel_user, #sel_expert, #sel_researcher {
    font-family: 'Comfortaa', sans-serif;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-left: -25px;
    margin-top: auto;
    transition: background 0.7s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #b9a1e2, #a0bef5);
    color: white;
    text-decoration: none;
    display: inline-block;
}

#sel_user:hover, #sel_expert:hover, #sel_researcher:hover {
    background: linear-gradient(135deg, #a68fd0, #8daee5);
}