<!-- Шапка -->
<div th:fragment="header" class="header">
    <!-- Лого + название сервиса -->
    <div class="logo-container" onclick="location.href='/home';">
        <img th:src="@{/images/logo.png}" alt="logo" id="logo">
        <h1>MindScape</h1>
    </div>

    <div class="container">
        <!-- Кнопки -->
        <div class="buttons">
            <button class="custom-button" type="button" id="requests">Запросы</button>
        </div>
        <!-- Имя пользователя + аватар + выпадающий список -->
        <div class="dropdown">
            <img th:src="${userImage != null ? userImage : '/images/user_logo.png'}" alt="user_logo" id="user_logo">
            <span class="username" th:text="${username}"></span>

            <div class="dropdown-content">
                <a th:href="@{/home/profile}">Профиль</a>
                <form action="/logout" method="post">
                    <button type="submit" id="logout">Выйти</button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
            </div>
        </div>
    </div>
</div>