<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindScape</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключение css-файла и иконки -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="icon" href="images/favicon.ico">
    <!-- Шрифт -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Добавляем шапку -->
    <div th:replace="~{/header :: header}"></div>
</body>
</html>