<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindScape</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключение css-файла и иконки -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <link rel="icon" href="images/favicon.ico">
    <!-- Шрифт -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Шапка сайта -->
    <div class="header">
        <div class="logo-container">
            <img src="images/logo.png" alt="logo" id="logo">
            <h1>MindScape</h1>
        </div>
        <!-- Кнопки -->
        <div class="buttons">
            <button class="custom-button" type="button" id="stories">Мои истории</button>
            <button class="custom-button" type="button" id="requests">Запросы</button>
        </div>
        <!-- Имя пользователя + аватар + выпадающий список -->
        <div class="dropdown">
            <img src="images/user_logo.png" alt="user_logo" id="user_logo">
            <span class="username" th:text="${username}"></span>
            <div class="dropdown-content">
                <a href="">Профиль</a>
                <a href="/logout">Выйти</a>
            </div>
        </div>
    </div>
</body>
</html>