<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindScape | Добро пожаловать!</title>
    <!-- Подключение css-файла и иконки -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="icon" href="/images/favicon.ico">
    <!-- Фон для страницы (иначе не работает) -->
    <style>
        body {
            background-image: url(images/background.png);
        }
    </style>
</head>
<body>
        <!-- Общий контейнер со всеми элементами -->
        <div class="container">

            <!-- Лого + название сервиса -->
            <div class="logo-container">
                <img src="images/logo.png" alt="logo" id="logo">
                <h1>MindScape</h1>
            </div>

            <!-- Поля для ввода почты и пароля -->
            <div class="login-box">
                    <input type="email" id="userEmail" name="email" required placeholder="E-mail">
                    <input type="password" id="userPassword" name="password" required placeholder="Пароль">
            </div>

            <!-- Забыли пароль? -->
            <div class="forgot-password">
                <a href="">Забыли пароль?</a>
            </div>

            <!-- Кнопки "регистрация" и "войти" -->
            <div class="button-container">
                <button class="custom-button" id="register">Регистрация</button>
                <button class="custom-button" id="login">Войти</button>
            </div>
        </div>
     <!-- Чтобы работали кнопки -->
    <script src="js/login.js"></script>
</body>
</html>