<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <!-- Подключение css-файлов и иконки -->
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/user.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/modals/captchaModal.css}">
    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Общий контейнер со всеми элементами -->
    <div class="container">
        <!-- Лого + "регистрация" -->
        <div class="logo-container">
            <img src="/images/logo.png" alt="logo" id="logo">
            <h1 >Регистрация</h1>
        </div>

        <!-- Блок для сообщения об ошибке -->
        <div class="error-message" id="error" style="display: none;"></div>

        <form th:action="@{/registration/user}" method="post" class="registration-form">
            <!-- Поля для ввода информации -->
            <div class="reg-box">
                <input type="text" id="username" name="name" required placeholder="Ваше имя">
                <input type="email" id="userEmail" name="email" required placeholder="Ваша почта">
                <input type="password" id="userPassword" name="password" required placeholder="Пароль" autocomplete="off">
                <input type="password" id="userPassword1" name="confirmPassword" required placeholder="Повторите пароль" autocomplete="off">

                <!-- CSRF token -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </div>

            <!-- Контейнер для кнопок -->
            <div class="button-container">
                <button class="custom-button" id="registration">Создать аккаунт</button>
                <a href="javascript:history.back()" class="custom-button" id="back">Назад</a>
            </div>
        </form>
    </div>

    <!-- Добавляем модальное окно для капчи и скрипт -->
    <div th:replace="~{modals/captchaModal :: captchaModal}"></div>
    <script src="/js/captcha.js"></script>
</body>
</html>